:host{
    margin-right: 10px;
    height: 275px;
    .img{
        width: 222px;
        height: 185px;
    }
    .address{
        float: left;
        max-width: calc(100% - 73px);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

    }

    .date{
        float: right;
    }

    .card-title{
        cursor: pointer;
        &:hover{
            text-decoration: underline;
        }
    }

    .new{
        text-align: center;
        .img{
            width: 50px;
            height: 50px;
            margin: auto;
            top: -32px;
            bottom: 0;
            margin-top: 136px;
            cursor: pointer;
            position: relative;
        }

        &:hover{
            background-color: #EEE;
            cursor: pointer;
        }
        .card-title{
            position: relative;
            top: -30px;
        }
    }

    .ml-loader{
        margin: auto;
        top: 0;
        bottom: 0;
        position: absolute;
        height: 60px;
        width: 60px;
        left: 0;
        right: 0;
    }
}