<div class="home">

    <div class="row">
        <div class="col">
            <div
             class="d-inline-flex"
             *ngIf="(loading$ | async) === false"
            >
                <app-event-card
                    class="d-inline-flex"
                    *ngFor="let ev of events$ | async"
                    [data] = "ev"
                ></app-event-card>

            </div>

        <app-event-card
            class="d-inline-flex"
            [config]="loadingEventConfig"
             *ngIf="loading$ | async"
        >
        </app-event-card>

        <app-event-card
            class="d-inline-flex"
            [config]="newEventConfig"
            *ngIf="(loading$ | async) === false"
        >
        </app-event-card>

        </div>

    </div>

</div>
