<div class="home">
    <div class="ml-breadcrumb">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">
                    <h4>Home</h4>
                </li>
            </ol>
        </nav>
    </div>
    <app-event-card
        class="d-inline-flex"
        *ngFor="let ev of events"
        [data] = "ev"
    ></app-event-card>
    <app-event-card class="d-inline-flex" [config]="newEventConfig"></app-event-card>
</div>
